<head>

</head>
<body>
<div class = "container-fluid bio">
<div class="parallax">
  <div class = "container-fluid pro_pic">
    <video width="600" height="500" controls autoplay>
    <source src="assets/images/My_Movie.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>

  </div>
  <div class = "container-fluid links_to">
  <h3 class = "name" >Nabeel Ahmed
  <a target="_blank" href="https://github.com/nabz24" class="icoGit" title="Git"><i class="fa fa-github-square fa-1x"></i></a>
  <a target="_blank" href="https://www.linkedin.com/in/nabeel-ahmed-0704a5b6/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin-square fa-1x"></i></a>
  <a target="_blank" href= "mailto:nab2320@gmail.com" class="email" title="email"><i class="fa fa-envelope fa-1x"></i></a>
</h3>

  <p><span>I</span> am a full-stack web developer with experience across many modern tech stacks. I design applications that are great partners for indivuals to tackle personal and business objectives.
    My websites contain everything that an individual can want in a partner, beauty and brains.<br>Contact
    me at nab2320@gmail.com or (408)-580-7082</p>


  </div>
  </div>
<div class="parallax"></div>
</div>

</body>
