.thumbnail {
  padding: 50px;
  position: relative;
  width: 700px;
  height: 700px;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.thumbnail iframe{
  width: 200px;
  height: 100px;
}

.friend_pic{
  padding: 5px;
  margin: 5px;
  text-align: center;




}
.friends{
  width: 460px;
  height: 555px;
  border: solid 5px red;
  display: inline-block;
  margin: 10px;
  padding-left: 0px;
  text-align: center;
  color: white;
  vertical-align: top;

  background-color: rgba(0, 0, 0, 0.76);
}

.ideas{
  width: 460px;
  height: 555px;
  border: solid 5px red;
  display: inline-block;
  margin: 10px;
  padding-left: 0px;
  text-align: center;
  color: white;
  vertical-align: top;

  background-color: rgba(0, 0, 0, 0.76);



}

.wishlist{

  width: 460px;
  height: 555px;
  border: solid 5px red;
  display: inline-block;
  margin: 10px;
  padding-left: 0px;
  vertical-align: top;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.76);



}

.projects{
  padding: 0px;
  margin: 0px;
  background-image: url("/assets/images/golden.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.76);


}
