<head>


</head>
<body>
<div class="container-fluid projects">
  <div class="container-fluid friends">
    <img src="assets/images/friends.png" class="img-rounded friend_pic" alt="Friends Website">
    <p> Full Friends is a angular web application designed to help
      individuals keep track of their friends or loved ones birthdays. The website is connected to a MongoDB database<p>
    <a target="_blank" href="http://52.53.157.158/dashboard">Visit site</a><br>
    <a target="_blank" href="https://github.com/nabz24/friends_mean">Click to view source code</a>
  </div>
  <div class = "container-fluid ideas">
    <img src="assets/images/idea.png" class="img-rounded friend_pic" alt="Friends Website">
    <p> Idea is a ruby on rails web application. It is a forum where individuals can post ideas
      that they would like to share with the world. Individuals can like and view other users posts and likes.
      Idea is connected to a PostgreSQL database<p>
    <a target="_blank" href="http://54.215.245.111/main">Visit Site</a><br>
    <a target="_blank" href="https://github.com/nabz24/Ruby_Black_Test">Click to view source code</a>
  </div>
  <div class = "container-fluid wishlist">
    <img src="assets/images/wishlist.png" class="img-rounded friend_pic" alt="Friends Website">
    <p> Wishlist is a website developed with Django and python. With WishList individuals
      can post what they would like for the holidays or any special occasion.
      Users can add other users wishes to their list or view other's wishlists.
      Wishlist is connected to a SQlite database<p>
    <a target="_blank" href="http://54.219.147.58/">Visit Site</a><br>
    <a target="_blank" href="https://github.com/nabz24/wish_list">Click to view source code</a>
  </div>
</div>
</body>
