.rounded-circle{

  border-color: red;
  border: solid 5px;

}

.pro_pic{
  padding-top: 100px;
  text-align: center;
}

.objective{
  color: black;
  text-align: center;


}

h4{
  color: Red;
}

p{
  color: black;
}

li{
  color: black;
}

.intro{
  /*min-height: 1000px;
  background-color: rgb(62, 62, 62);*/
  color: rgb(159, 37, 37);
  padding-top: 0px;
  margin-top: 50px;
}

/*.resume{
  background-color: rgb(62, 62, 62);
}*/
.self{
  /*test*/
  width: 300px;
  height: 300px;
}

.bio{
  padding: 0px;
  margin: 0px;
  /*background-image: url("/assets/images/golden.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
  position: absolute;*/
  width: 100vw;
  height: 100vh;
  /*background-color: rgba(0, 0, 0, 0.76);*/
}

.parallax {
    /* The image used */
    background-image: url("/assets/images/steve_young.jpg");
    padding: 0px;
    margin: 0px;
    /* Full height */
    height: 65vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
