<div class = "container-fluid bio">


  <div class = "container-fluid intro">
    <div class = "container-fluid pro_pic">
    <img src="assets/images/self.jpg" class="rounded-circle self" alt="Profile Picture" >
    </div>
    <p class = "objective">
      I am a American citizen who was born and raised in San Jose, Califronia. I love all Bay-Area sports teams
      such as the 49ers, Giants, Earthquakes, and Sharks. I love to play sports and build applications. With the ability to program in various languages such as javascript, python,
      and ruby, I can develop web applications that can be useful for any business.
      I am a strong leader who can be relied on go to get any job done.
    </p>
    <h4>Education:</h4>
    <ul>
      <li>B.S. in Business Management Information Systems; San Jose State University</li>
      <li>Coding Dojo 14-Week Full Stack Developer Bootcamp </li>
    </ul>
    <h4>Skills:</h4>
      <p>Languages: Javascript, Python, Ruby, C, Java, GitHub, JQuery, CSS3, HTML5<br>
      Databases: MySql, SQL Lite, Hadoop, Oracle SQL, Tableau, Hive, Spark, PostgresSQL<br>
	    Frameworks: Django, Rails, Node.js, Angular, Flask, Ajax, React
      </p>
    <h4>Project Managment</h4>
        <p> Developed projects using Rad and Agile methodologies</p>
    <h4>Download Resume</h4>
      <a href="assets/images/nabeel_resume.docx" download> Download resume here</a>



  </div>


</div>
