<head>
 <title>Nabeel About Me</title>

</head>
<body>
<div class = "container-fluid bio">
<div class="parallax">


    <div class = "container-fluid pro_pic">

    <img src="assets/images/self.jpg" class="rounded-circle self" alt="Profile Picture" >
    </div>
    <div class = "container-fluid intro">
    <p class = "objective">
      I am a full-stack developer who was born and raised in San Jose, Califronia. I love all Bay-Area sports teams
      such as the 49ers, Giants, Earthquakes, and Sharks. I love to play sports and build applications. With the ability to program in various languages such as javascript, python,
      and ruby, I can develop web applications that can be useful for any business.
      I am a strong leader who can be relied on go to get any job done.
    </p>
    <h4>Employment:</h4>
    <p>
    <strong>Apple via Apex</strong><br>
    Software Developer/ Data Analyst<br>
    Internal Analytics and Tools team<br>
    </p>
    <h4>Education:</h4>
    <ul>
      <li>B.S. in Business Management Information Systems; San Jose State University</li>
      <li>Coding Dojo 14-Week Full Stack Developer Bootcamp </li>
    </ul>
    <h4>Skills:</h4>
      <p>Languages: Javascript, Python, Ruby, C, Java, GitHub, JQuery, CSS3, HTML5, D3<br>
      Databases: MySql, SQL Lite, Hadoop, Oracle SQL, Tableau, Hive, Spark, PostgresSQL<br>
	    Frameworks: Django, Rails, Node.js, Angular, Flask, Ajax, React<br>
      Web Platforms: Amazon Web Services, Heroku
      </p>
      <h4>Project Managment</h4>
      <p>Developed and managed projects using SCRUM software development methodology. Have exposure to other project development methodologies such as  RAD and Agile. <a href="assets/images/Nabeel_Ahmed.pdf" download>Click to download resume</a></p>
    </div>
  </div>

<div class="parallax2"></div>
</div>
</body>
